# Python
__pycache__/
*.pyc
*.pyo

# Packaging
*.egg-info/

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac
.DS_Store

# Results 
results/
data/raw/
data/interim/